<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestioneAutoreLibri</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchAutoreServlet</display-name>
    <servlet-name>SearchAutoreServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.SearchAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAutoreServlet</servlet-name>
    <url-pattern>/SearchAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchLibroServlet</display-name>
    <servlet-name>SearchLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.SearchLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLibroServlet</servlet-name>
    <url-pattern>/SearchLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteSearchAutoreServlet</display-name>
    <servlet-name>ExecuteSearchAutoreServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteSearchAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteSearchAutoreServlet</servlet-name>
    <url-pattern>/ExecuteSearchAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAutoreServlet</display-name>
    <servlet-name>CreateAutoreServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.CreateAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAutoreServlet</servlet-name>
    <url-pattern>/CreateAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteCreateAutoreServlet</display-name>
    <servlet-name>ExecuteCreateAutoreServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteCreateAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteCreateAutoreServlet</servlet-name>
    <url-pattern>/ExecuteCreateAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettagliAutoreServlet</display-name>
    <servlet-name>DettagliAutoreServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.DettagliAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettagliAutoreServlet</servlet-name>
    <url-pattern>/DettagliAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteDeleteAutoreLibriServlet</display-name>
    <servlet-name>ExecuteDeleteAutoreLibriServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteDeleteAutoreLibriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteDeleteAutoreLibriServlet</servlet-name>
    <url-pattern>/ExecuteDeleteAutoreLibriServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteSearchLibroServlet</display-name>
    <servlet-name>ExecuteSearchLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteSearchLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteSearchLibroServlet</servlet-name>
    <url-pattern>/ExecuteSearchLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteDettagliLibroServlet</display-name>
    <servlet-name>ExecuteDettagliLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteDettagliLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteDettagliLibroServlet</servlet-name>
    <url-pattern>/ExecuteDettagliLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteDeleteLibroServlet</display-name>
    <servlet-name>ExecuteDeleteLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteDeleteLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteDeleteLibroServlet</servlet-name>
    <url-pattern>/ExecuteDeleteLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateLibroServlet</display-name>
    <servlet-name>CreateLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.CreateLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateLibroServlet</servlet-name>
    <url-pattern>/CreateLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteCreateLibroServlet</display-name>
    <servlet-name>ExecuteCreateLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteCreateLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteCreateLibroServlet</servlet-name>
    <url-pattern>/ExecuteCreateLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyLibroServlet</display-name>
    <servlet-name>ModifyLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ModifyLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyLibroServlet</servlet-name>
    <url-pattern>/ModifyLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteModifyLibroServlet</display-name>
    <servlet-name>ExecuteModifyLibroServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteModifyLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteModifyLibroServlet</servlet-name>
    <url-pattern>/ExecuteModifyLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyAutoreServlet</display-name>
    <servlet-name>ModifyAutoreServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ModifyAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAutoreServlet</servlet-name>
    <url-pattern>/ModifyAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteModifyAutoreServlet</display-name>
    <servlet-name>ExecuteModifyAutoreServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.ExecuteModifyAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteModifyAutoreServlet</servlet-name>
    <url-pattern>/ExecuteModifyAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoGestioneServlet</display-name>
    <servlet-name>AccessoGestioneServlet</servlet-name>
    <servlet-class>it.gestioneautorelibri.web.servlet.AccessoGestioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoGestioneServlet</servlet-name>
    <url-pattern>/AccessoGestioneServlet</url-pattern>
  </servlet-mapping>
</web-app>